<ion-view view-title="Change Password" ng-controller="ChangepasswordCtrl">
    <ion-content class="creategrouppage-container">
       
    <!-- <div class="coverpic" style="background:url(./img/material-graphite.jpg);">
     <div class="uploadprofilepic" ng-click="selectPic()" id="userPic" style="background:url({{user.img_path == '' ? './img/daenerys.jpg' : user.img_path}});padding:0;background-size: cover;"></div>
      <div class="coverpicupload">Change</div>
    </div> -->
	<form name="editform" novalidate>
		  <p class="message-box" ng-bind-html="validationError"></p>
      <div class="list" style="margin-top: 30px;">
        <label class="item item-input borderinput">
          <span class="input-label">Old Password</span>
          <input type="password" class="name"  name="old_password" placeholder="Old Password" ng-model="user.old_pass" required/>
        </label>
				  <div ng-messages="editform.old_password.$error" ng-show="editform.old_password.$touched">
						<p class="validation_msg"ng-message="required">Old Password is required.</p>
				</div>
        <label class="item item-input borderinput">
          <span class="input-label">New Password</span>
          <input type="password" placeholder="New Password" name="new_password" ng-model="user.new_pass" required/>
        </label>
				 <div ng-messages="editform.new_password.$error" ng-show="editform.new_password.$touched">
						<p class="validation_msg"ng-message="required">New Password is required.</p>
	  
				</div>
		<label class="item item-input borderinput">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="Confirm Password" name="confirm_password" ng-model="user.confirm_pass" required/>
        </label>
		<div ng-messages="editform.confirm_password.$error" ng-show="editform.confirm_password.$touched">
						<p class="validation_msg"ng-message="required"> Confirm Password is required.</p>
	  
		</div>
        <div class="greybox"></div>
        <!--<textarea class="textarea" name="description" placeholder="Enter Short Describtion" ng-model="user.short_desc" required></textarea>
			 <div ng-messages="editform.description.$error" ng-show="editform.description.$touched">
				<p class="validation_msg"ng-message="required">Your description is required.</p>
			</div>
        <div class="greybox"></div>-->
        <div class="orangebutton" ng-click="password_submit()">
          Done
        </div>
      </div>

    </ion-content>
    <!-- <ion-footer-bar align-title="left" class="footernew">
      <a ui-sref="app.me" class="tab-item listfooter">
        <i class="icon ion-person"></i>
        Me
      </a>
      <a ui-sref="app.trends" class="tab-item listfooter">
        <i class="icon ion-stats-bars"></i>
        Trends
      </a>
      <div style="position: absolute; left: 50%;">
        <a class="tab-item mainfooteritem" ui-sref="app.dashboard">
          <i class="icon ion-gear-a"></i>
        </a>
      </div>
      <a class="tab-item listfooter">
        <i class=""></i>
      </a>
      <a class="tab-item listfooter">
        <i class="icon ion-checkmark-circled"></i>
        Goals
      </a>
      <a ui-sref="app.grouplist" class="tab-item listfooter">
        <i class="icon ion-person-stalker"></i>
        Groups
      </a>
    </ion-footer-bar> -->
</ion-view>
