<ion-view view-title="View Profile">
    <ion-content class="creategrouppage-container">
       
    <div class="newcoverpic" style="background:url(./img/newdp.png);background-size: 100% 100%;"></div>
    <div class="newuploadprofilepic" style="background:url(./img/newdp.png);padding:0;background-size: cover; margin-top: -68px;"></div>
      <div class="neweditprofilelink" ui-sref="app.editprofile">Edit Info</div>
      <div class="mynameprofile">Parag Toprani</div>
      <div class="mydescribtion">No shave November , Follow me to play the game on . Beard are Cool</div>

      <div class="row fullinfo" style="    border-bottom: 1px solid #d0d0d0;margin-top:0px;">
        <div class="col email" style="    border-right: 1px solid #d0d0d0;">
          <i class="icon ion-email"> </i>
          <div class="detailinfo"> Parag@example.com</div>
        </div>
        <div class="col phone">
          <i class="icon ion-iphone"> </i>
          <div class="detailinfo"> +91 8888899999</div>
        </div>
      </div>
      <div class="titlenewprofile">Other Details</div>
      <div class="row physicdetailsrow">
          <div class="col physicdetails">Weight</div>
          <div class="col physicdetails">72 kg</div>
      </div>
      <div class="row physicdetailsrow">
          <div class="col physicdetails">Height</div>
          <div class="col physicdetails">5.8 inches</div>
      </div>
      <div class="row physicdetailsrow">
          <div class="col physicdetails">Age</div>
          <div class="col physicdetails">30</div>
      </div>
      <div class="row physicdetailsrow">
          <div class="col physicdetails">Gender</div>
          <div class="col physicdetails">Female</div>
      </div>
      <!-- <div class="row fullinfo" style="margin-top:0px;">
        <div class="col email" style="border-right: 1px solid #d0d0d0;">
          <i class="icon ion-email"> </i>
          <div class="detailinfo"> Parag@example.com</div>
        </div>
        <div class="col phone">
          <i class="icon ion-iphone"> </i>
          <div class="detailinfo"> +91 8888899999</div>
        </div>
      </div> -->
      <!-- <div class="list" style="margin-top: 30px;">
        <label class="item item-input borderinput">
          <span class="input-label">Profile Name</span>
          <input type="text" placeholder="Parag Toprani" disabled/>
        </label>
        <label class="item item-input borderinput">
          <span class="input-label">Email Id</span>
          <input type="text" placeholder="demo@demo.com" disabled/>
        </label>
        <label class="item item-input borderinput">
          <span class="input-label">Phone no.</span>
          <input type="text" placeholder="+91 999998888" disabled/>
        </label>
        <label class="item item-input borderinput">
          <span class="input-label">Password</span>
          <input type="password" placeholder="*********" disabled/>
        </label>
        <div class="greybox"></div>
        <textarea class="textarea" placeholder="I have added My describtion here and i can edit if from above button" disabled></textarea>
      </div> -->

    </ion-content>
    <!-- <ion-footer-bar align-title="left" class="footernew">
      <a ui-sref="app.me" class="tab-item listfooter">
        <i class="icon ion-person"></i>
        Me
      </a>
      <a ui-sref="app.trends" class="tab-item listfooter">
        <i class="icon ion-stats-bars"></i>
        Trends
      </a>
      <div style="position: absolute; left: 50%;">
        <a class="tab-item mainfooteritem" ui-sref="app.dashboard">
          <i class="icon ion-gear-a"></i>
        </a>
      </div>
      <a class="tab-item listfooter">
        <i class=""></i>
      </a>
      <a class="tab-item listfooter">
        <i class="icon ion-checkmark-circled"></i>
        Goals
      </a>
      <a ui-sref="app.grouplist" class="tab-item listfooter">
        <i class="icon ion-person-stalker"></i>
        Groups
      </a>
    </ion-footer-bar> -->
</ion-view>
