    <ion-popover-view class="settingpopupopen" ng-controller="settingCtrl">
        <ion-content>
          <div class="list">
			<a class="item item-icon-left" href="#" ng-click="logout()">
              <i class="icon ion-power" ></i>
              Logout
            </a>
			<a class="item item-icon-left">
              <i class="icon ion-fireball"></i>
				Disclamier
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-bell"></i>
              Privacy Policy
            </a>
            <!-- <a class="item" href="#">
              
            </a>
            <a class="item" href="#">
              Github Repo
            </a> -->
          </div>
        </ion-content>
      </ion-popover-view>